<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Menu</title>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<style>
    .container{
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .social-media{
        margin-top: 5%;
        }
    .social-media a{
     padding:16px;
    font-size: 20px;
    box-shadow: 1px 0px 5px 8px red;
    border-radius: 55%;
        margin-right: 30px;
}
.social-menu{
   text-align: center;
}
.social-menu h1{
    color: chartreuse;}
 .container

</style>
<body style="background-color: black">
<br>
<h1 style="color:white;text-align: center"><span style="color: red">Covid19</span> States WorldWide</h1>
<br>
    <form method="post" class="d-flex justify-content-center align-items-center" action="">
        {% csrf_token %}
        <select class="form-control" style="width: 200px" name="selected">
            {%  for country in mylists %}
            <option>{{ country}}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-danger" name="">
    </form>
<h5 style="margin-top: 100px;color: white;text-align: center">{{ selected }}</h5>
<div class="d-flex justify-content-center align-items-center">
    <div class="container" style="border-radius:15px;background-color:lightpink;height: 100px;width: 200px">
        <h3 style="text-align: center;color: white">{{ total }}</h3>
        <p style="text-align: center;color: white">Total Cases</p>
    </div>
    <div class="container" style="border-radius:15px;background-color:orange;height: 100px;width: 200px">
        <h3 style="text-align: center;color: white">{{ new }}</h3>
        <p style="text-align: center;color: white">New Cases</p>
    </div>
    <div class="container" style="border-radius:15px;background-color:skyblue;height: 100px;width: 200px">
        <h3 style="text-align: center;color: white">{{ active }}</h3>
        <p style="text-align: center;color: white">Active Cases</p>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center">
    <div class="container" style="border-radius:15px;background-color:green;height: 100px;width: 200px">
        <h3 style="text-align: center;color: white">{{ recovered }}</h3>
        <p style="text-align: center;color: white">Recovered</p>
    </div>
    <div class="container" style="border-radius:15px;background-color:yellow;height: 100px;width: 200px">
        <h3 style="text-align: center;color: black">{{ critical }}</h3>
        <p style="text-align: center;color: black">Critical</p>
    </div>
    <div class="container" style="border-radius:15px;background-color:grey;height: 100px;width: 200px">
        <h3 style="text-align: center;color: white">{{ deaths }}</h3>
        <p style="text-align: center;color: white">Deaths</p>
    </div>
</div>


</body>
</html>